-- Crear base de datos (opcional)
CREATE DATABASE Recordatorios;
GO
USE Recordatorios;
GO

-- Tabla Categoria
CREATE TABLE Categoria (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Nombre NVARCHAR(100) NOT NULL
);
GO

-- Tabla Perfil
CREATE TABLE Perfil (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Usuario NVARCHAR(50) NOT NULL UNIQUE,
    Contraseña NVARCHAR(255) NOT NULL,
    Nacimiento DATE NOT NULL
);
GO

-- Tabla Tareas
CREATE TABLE Tareas (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Nombre NVARCHAR(255) NOT NULL,
    Fecha DATE NOT NULL,
    IDCategoria INT NOT NULL,
    Terminada BIT NOT NULL DEFAULT 0,
    FOREIGN KEY (IDCategoria) REFERENCES Categoria(ID)
);
GO

-- Tabla intermedia: PerfilTarea
CREATE TABLE PerfilTarea (
    IDPerfil INT NOT NULL,
    IDTarea INT NOT NULL,
    PRIMARY KEY (IDPerfil, IDTarea),
    FOREIGN KEY (IDPerfil) REFERENCES Perfil(ID),
    FOREIGN KEY (IDTarea) REFERENCES Tareas(ID)
);
GO